.header {
  padding: 20px;

  .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    @include flex-props(space-between, center);

    & > a {
      font-size: 40px;
      font-family: $a-fonts;
      color: $main-colors;
    }

    nav {
      width: 500px;

      ul {
        display: flex;
        justify-content: space-between;

        .nav-a {
          font-size: 15px;
          color: $main-colors;
        }
      }
    }
  }
}

.s-1 {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;

  height: 600px;
  width: 100%;
  margin-top: 30px;

  @include flex-props(center, center);
  flex-direction: column;

  h2 {
    font-size: 50px;
    margin-bottom: 80px;
    color: white;
  }

  h4 {
    color: white;
  }
}

.s-2 {
  margin-top: 60px;

  .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    @include flex-props(space-between, flex-start);

    .box {
      width: 200px;
      height: 200px;

      h4 {
        font-size: 15px;
        color: $main-colors;
        margin-bottom: 20px;
      }

      h3 {
        font-size: 21px;
        color: $main-colors;
        margin-bottom: 10px;
      }

      p {
        font-size: $p-sizes;
        color: $p-colors;
      }
    }

    .cards {
      max-width: 820px;
      width: 100%;
      @include flex-props( space-between, center, wrap);
      
      .card {
        max-width: 260px;
        width: 100%;
        height: 280px;
        margin-bottom: 30px;

        img {
          width: 100%;
        }

        h3 {
          color: $main-colors;
          font-size: 21px;
          margin-top: 10px;
        }

        p {
          color: $p-colors;
          font-size: $p-sizes;
          margin-top: 13px;
        }
      }
    }
  }
}
